@charset "UTF-8";

:root {
    --One: #292929;
    --Two: #212121;
    --Thr: #C8C8C8;
    --Fou: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Two);

    color: var(--Fou);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0.5rem;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;

    text-align: center;
}

.header__title {
    font-size: 1.7rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
}

.main__time {
    margin: auto;
    width: 50rem;
    padding: 0.5rem;

    font-size: 2.2rem;
    text-align: center;

    border-radius: 0.5rem;
    background-color: var(--One);
}